<div class="et_pb_section et_pb_section_0 et_pb_fullwidth_section et_section_regular">




					<div class="et_pb_module et_pb_fullwidth_menu et_pb_fullwidth_menu_0 et_pb_bg_layout_light  et_pb_text_align_left et_dropdown_animation_fade">


				<div class="et_pb_row clearfix">
					<nav class="fullwidth-menu-nav"><ul id="menu-operational-guidelines" class="fullwidth-menu nav"><li id="menu-item-1222" class="et_pb_menu_page_id-955 menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-955 current_page_item menu-item-has-children menu-item-1222"><a href="https://standards.openbanking.org.uk/operational-guidelines/introduction/latest/" aria-current="page">Introduction</a>
<ul class="sub-menu">
	<li id="menu-item-1327" class="et_pb_menu_page_id-1318 menu-item menu-item-type-post_type menu-item-object-page menu-item-1327"><a href="https://standards.openbanking.org.uk/operational-guidelines/introduction/the-operational-guidelines/latest/">The Guidelines</a></li>
</ul>
</li>
<li id="menu-item-1223" class="et_pb_menu_page_id-966 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1223"><a href="https://standards.openbanking.org.uk/operational-guidelines/availability-and-performance/latest/">Availability and performance</a>
<ul class="sub-menu">
	<li id="menu-item-1333" class="et_pb_menu_page_id-1329 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1333"><a href="https://standards.openbanking.org.uk/operational-guidelines/availability-and-performance/key-indicators-for-availability-and-performance/latest/">Key Indicators</a>
	<ul class="sub-menu">
		<li id="menu-item-1355" class="et_pb_menu_page_id-1336 menu-item menu-item-type-post_type menu-item-object-page menu-item-1355"><a href="https://standards.openbanking.org.uk/operational-guidelines/availability-and-performance/key-indicators-for-availability-and-performance/availability/latest/">Availability</a></li>
		<li id="menu-item-1361" class="et_pb_menu_page_id-1357 menu-item menu-item-type-post_type menu-item-object-page menu-item-1361"><a href="https://standards.openbanking.org.uk/operational-guidelines/availability-and-performance/key-indicators-for-availability-and-performance/performance/latest/">Performance</a></li>
	</ul>
</li>
	<li id="menu-item-1370" class="et_pb_menu_page_id-1362 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1370"><a href="https://standards.openbanking.org.uk/operational-guidelines/availability-and-performance/publication-of-statistics/latest/">Publication of statistics</a>
	<ul class="sub-menu">
		<li id="menu-item-2932" class="et_pb_menu_page_id-2932 menu-item menu-item-type-custom menu-item-object-custom menu-item-2932"><a href="https://standards.openbanking.org.uk/operational-guidelines/availability-and-performance/publication-of-statistics/latest/#PSU-interfaces">Reporting PSU interfaces</a></li>
		<li id="menu-item-1936" class="et_pb_menu_page_id-1936 menu-item menu-item-type-custom menu-item-object-custom menu-item-1936"><a href="/operational-guidelines/availability-and-performance/publication-of-statistics/latest/#ASPSP-reporting-template">Reporting template</a></li>
		<li id="menu-item-1942" class="et_pb_menu_page_id-1942 menu-item menu-item-type-custom menu-item-object-custom menu-item-1942"><a href="/operational-guidelines/availability-and-performance/publication-of-statistics/latest/#TPP-reporting">TPP reporting</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-1225" class="et_pb_menu_page_id-972 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1225"><a href="https://standards.openbanking.org.uk/operational-guidelines/dedicated-interface-requirements/latest/">Dedicated interfaces</a>
<ul class="sub-menu">
	<li id="menu-item-1392" class="et_pb_menu_page_id-1386 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1392"><a href="https://standards.openbanking.org.uk/operational-guidelines/dedicated-interface-requirements/design-and-testing/latest/">Design and Testing</a>
	<ul class="sub-menu">
		<li id="menu-item-1400" class="et_pb_menu_page_id-1393 menu-item menu-item-type-post_type menu-item-object-page menu-item-1400"><a href="https://standards.openbanking.org.uk/operational-guidelines/dedicated-interface-requirements/design-and-testing/testing-facility/latest/">Testing facility</a></li>
		<li id="menu-item-2938" class="et_pb_menu_page_id-2938 menu-item menu-item-type-custom menu-item-object-custom menu-item-2938"><a href="/operational-guidelines/dedicated-interface-requirements/design-and-testing/testing-facility/latest/#Publishing-specification">Publishing specifications</a></li>
	</ul>
</li>
	<li id="menu-item-1231" class="et_pb_menu_page_id-1045 menu-item menu-item-type-post_type menu-item-object-page menu-item-1231"><a href="https://standards.openbanking.org.uk/operational-guidelines/dedicated-interface-requirements/stress-testing/latest/">Stress Testing</a></li>
	<li id="menu-item-1232" class="et_pb_menu_page_id-1051 menu-item menu-item-type-post_type menu-item-object-page menu-item-1232"><a href="https://standards.openbanking.org.uk/operational-guidelines/dedicated-interface-requirements/wide-usage/latest/">Wide Usage</a></li>
	<li id="menu-item-1233" class="et_pb_menu_page_id-1057 menu-item menu-item-type-post_type menu-item-object-page menu-item-1233"><a href="https://standards.openbanking.org.uk/operational-guidelines/dedicated-interface-requirements/obstacles/latest/">Obstacles</a></li>
</ul>
</li>
<li id="menu-item-1236" class="et_pb_menu_page_id-985 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1236"><a href="https://standards.openbanking.org.uk/operational-guidelines/problem-resolution/latest/">Problem resolution</a>
<ul class="sub-menu">
	<li id="menu-item-1234" class="et_pb_menu_page_id-988 menu-item menu-item-type-post_type menu-item-object-page menu-item-1234"><a href="https://standards.openbanking.org.uk/operational-guidelines/problem-resolution/procedures-processes-and-systems/latest/">Procedures, processes &amp; systems</a></li>
	<li id="menu-item-2951" class="et_pb_menu_page_id-2951 menu-item menu-item-type-custom menu-item-object-custom menu-item-2951"><a href="/operational-guidelines/problem-resolution/procedures-processes-and-systems/latest/#OBIE-Support">OBIE Support</a></li>
</ul>
</li>
<li id="menu-item-1226" class="et_pb_menu_page_id-1000 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1226"><a href="https://standards.openbanking.org.uk/operational-guidelines/change-and-communication-management/latest/">Change management</a>
<ul class="sub-menu">
	<li id="menu-item-1237" class="et_pb_menu_page_id-1013 menu-item menu-item-type-post_type menu-item-object-page menu-item-1237"><a href="https://standards.openbanking.org.uk/operational-guidelines/change-and-communication-management/downtime/latest/">Downtime</a></li>
	<li id="menu-item-1238" class="et_pb_menu_page_id-1016 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1238"><a href="https://standards.openbanking.org.uk/operational-guidelines/change-and-communication-management/implementation-of-a-new-obie-standard/latest/">New OBIE Standard</a>
	<ul class="sub-menu">
		<li id="menu-item-2956" class="et_pb_menu_page_id-2956 menu-item menu-item-type-custom menu-item-object-custom menu-item-2956"><a href="/operational-guidelines/change-and-communication-management/implementation-of-a-new-obie-standard/latest/#Introducing-change">Introducing change</a></li>
		<li id="menu-item-2957" class="et_pb_menu_page_id-2957 menu-item menu-item-type-custom menu-item-object-custom menu-item-2957"><a href="/operational-guidelines/change-and-communication-management/implementation-of-a-new-obie-standard/latest/#Considerations">Considerations</a></li>
	</ul>
</li>
	<li id="menu-item-1243" class="et_pb_menu_page_id-1033 menu-item menu-item-type-post_type menu-item-object-page menu-item-1243"><a href="https://standards.openbanking.org.uk/operational-guidelines/change-and-communication-management/changes-to-an-aspsps-infrastructure-configuration-or-software/latest/">Changes to ASPSP’s&nbsp;infrastructure</a></li>
	<li id="menu-item-1244" class="et_pb_menu_page_id-1039 menu-item menu-item-type-post_type menu-item-object-page menu-item-1244"><a href="https://standards.openbanking.org.uk/operational-guidelines/change-and-communication-management/notification-of-a-change/latest/">Notification of change</a></li>
</ul>
</li>
<li id="menu-item-1239" class="et_pb_menu_page_id-1003 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1239"><a href="https://standards.openbanking.org.uk/operational-guidelines/the-operational-guidelines-checklist/latest/">OG Checklist</a>
<ul class="sub-menu">
	<li id="menu-item-1240" class="et_pb_menu_page_id-1007 menu-item menu-item-type-post_type menu-item-object-page menu-item-1240"><a href="https://standards.openbanking.org.uk/operational-guidelines/the-operational-guidelines-checklist/checklist/latest/">Checklist</a></li>
</ul>
</li>
</ul></nav>
					<div class="et_mobile_nav_menu">
						<a href="#" class="mobile_nav closed">
							<span class="mobile_menu_bar"></span>
						<ul id="mobile_menu1" class="et_mobile_menu"><li id="menu-item-1222" class="et_pb_menu_page_id-955 menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-955 current_page_item menu-item-has-children menu-item-1222 et_first_mobile_item"><a href="https://standards.openbanking.org.uk/operational-guidelines/introduction/latest/" aria-current="page">Introduction</a>
<ul class="sub-menu">
	<li id="menu-item-1327" class="et_pb_menu_page_id-1318 menu-item menu-item-type-post_type menu-item-object-page menu-item-1327"><a href="https://standards.openbanking.org.uk/operational-guidelines/introduction/the-operational-guidelines/latest/">The Guidelines</a></li>
</ul>
</li>
<li id="menu-item-1223" class="et_pb_menu_page_id-966 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1223"><a href="https://standards.openbanking.org.uk/operational-guidelines/availability-and-performance/latest/">Availability and performance</a>
<ul class="sub-menu">
	<li id="menu-item-1333" class="et_pb_menu_page_id-1329 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1333"><a href="https://standards.openbanking.org.uk/operational-guidelines/availability-and-performance/key-indicators-for-availability-and-performance/latest/">Key Indicators</a>
	<ul class="sub-menu">
		<li id="menu-item-1355" class="et_pb_menu_page_id-1336 menu-item menu-item-type-post_type menu-item-object-page menu-item-1355"><a href="https://standards.openbanking.org.uk/operational-guidelines/availability-and-performance/key-indicators-for-availability-and-performance/availability/latest/">Availability</a></li>
		<li id="menu-item-1361" class="et_pb_menu_page_id-1357 menu-item menu-item-type-post_type menu-item-object-page menu-item-1361"><a href="https://standards.openbanking.org.uk/operational-guidelines/availability-and-performance/key-indicators-for-availability-and-performance/performance/latest/">Performance</a></li>
	</ul>
</li>
	<li id="menu-item-1370" class="et_pb_menu_page_id-1362 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1370"><a href="https://standards.openbanking.org.uk/operational-guidelines/availability-and-performance/publication-of-statistics/latest/">Publication of statistics</a>
	<ul class="sub-menu">
		<li id="menu-item-2932" class="et_pb_menu_page_id-2932 menu-item menu-item-type-custom menu-item-object-custom menu-item-2932"><a href="https://standards.openbanking.org.uk/operational-guidelines/availability-and-performance/publication-of-statistics/latest/#PSU-interfaces">Reporting PSU interfaces</a></li>
		<li id="menu-item-1936" class="et_pb_menu_page_id-1936 menu-item menu-item-type-custom menu-item-object-custom menu-item-1936"><a href="/operational-guidelines/availability-and-performance/publication-of-statistics/latest/#ASPSP-reporting-template">Reporting template</a></li>
		<li id="menu-item-1942" class="et_pb_menu_page_id-1942 menu-item menu-item-type-custom menu-item-object-custom menu-item-1942"><a href="/operational-guidelines/availability-and-performance/publication-of-statistics/latest/#TPP-reporting">TPP reporting</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-1225" class="et_pb_menu_page_id-972 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1225"><a href="https://standards.openbanking.org.uk/operational-guidelines/dedicated-interface-requirements/latest/">Dedicated interfaces</a>
<ul class="sub-menu">
	<li id="menu-item-1392" class="et_pb_menu_page_id-1386 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1392"><a href="https://standards.openbanking.org.uk/operational-guidelines/dedicated-interface-requirements/design-and-testing/latest/">Design and Testing</a>
	<ul class="sub-menu">
		<li id="menu-item-1400" class="et_pb_menu_page_id-1393 menu-item menu-item-type-post_type menu-item-object-page menu-item-1400"><a href="https://standards.openbanking.org.uk/operational-guidelines/dedicated-interface-requirements/design-and-testing/testing-facility/latest/">Testing facility</a></li>
		<li id="menu-item-2938" class="et_pb_menu_page_id-2938 menu-item menu-item-type-custom menu-item-object-custom menu-item-2938"><a href="/operational-guidelines/dedicated-interface-requirements/design-and-testing/testing-facility/latest/#Publishing-specification">Publishing specifications</a></li>
	</ul>
</li>
	<li id="menu-item-1231" class="et_pb_menu_page_id-1045 menu-item menu-item-type-post_type menu-item-object-page menu-item-1231"><a href="https://standards.openbanking.org.uk/operational-guidelines/dedicated-interface-requirements/stress-testing/latest/">Stress Testing</a></li>
	<li id="menu-item-1232" class="et_pb_menu_page_id-1051 menu-item menu-item-type-post_type menu-item-object-page menu-item-1232"><a href="https://standards.openbanking.org.uk/operational-guidelines/dedicated-interface-requirements/wide-usage/latest/">Wide Usage</a></li>
	<li id="menu-item-1233" class="et_pb_menu_page_id-1057 menu-item menu-item-type-post_type menu-item-object-page menu-item-1233"><a href="https://standards.openbanking.org.uk/operational-guidelines/dedicated-interface-requirements/obstacles/latest/">Obstacles</a></li>
</ul>
</li>
<li id="menu-item-1236" class="et_pb_menu_page_id-985 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1236"><a href="https://standards.openbanking.org.uk/operational-guidelines/problem-resolution/latest/">Problem resolution</a>
<ul class="sub-menu">
	<li id="menu-item-1234" class="et_pb_menu_page_id-988 menu-item menu-item-type-post_type menu-item-object-page menu-item-1234"><a href="https://standards.openbanking.org.uk/operational-guidelines/problem-resolution/procedures-processes-and-systems/latest/">Procedures, processes &amp; systems</a></li>
	<li id="menu-item-2951" class="et_pb_menu_page_id-2951 menu-item menu-item-type-custom menu-item-object-custom menu-item-2951"><a href="/operational-guidelines/problem-resolution/procedures-processes-and-systems/latest/#OBIE-Support">OBIE Support</a></li>
</ul>
</li>
<li id="menu-item-1226" class="et_pb_menu_page_id-1000 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1226"><a href="https://standards.openbanking.org.uk/operational-guidelines/change-and-communication-management/latest/">Change management</a>
<ul class="sub-menu">
	<li id="menu-item-1237" class="et_pb_menu_page_id-1013 menu-item menu-item-type-post_type menu-item-object-page menu-item-1237"><a href="https://standards.openbanking.org.uk/operational-guidelines/change-and-communication-management/downtime/latest/">Downtime</a></li>
	<li id="menu-item-1238" class="et_pb_menu_page_id-1016 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1238"><a href="https://standards.openbanking.org.uk/operational-guidelines/change-and-communication-management/implementation-of-a-new-obie-standard/latest/">New OBIE Standard</a>
	<ul class="sub-menu">
		<li id="menu-item-2956" class="et_pb_menu_page_id-2956 menu-item menu-item-type-custom menu-item-object-custom menu-item-2956"><a href="/operational-guidelines/change-and-communication-management/implementation-of-a-new-obie-standard/latest/#Introducing-change">Introducing change</a></li>
		<li id="menu-item-2957" class="et_pb_menu_page_id-2957 menu-item menu-item-type-custom menu-item-object-custom menu-item-2957"><a href="/operational-guidelines/change-and-communication-management/implementation-of-a-new-obie-standard/latest/#Considerations">Considerations</a></li>
	</ul>
</li>
	<li id="menu-item-1243" class="et_pb_menu_page_id-1033 menu-item menu-item-type-post_type menu-item-object-page menu-item-1243"><a href="https://standards.openbanking.org.uk/operational-guidelines/change-and-communication-management/changes-to-an-aspsps-infrastructure-configuration-or-software/latest/">Changes to ASPSP’s&nbsp;infrastructure</a></li>
	<li id="menu-item-1244" class="et_pb_menu_page_id-1039 menu-item menu-item-type-post_type menu-item-object-page menu-item-1244"><a href="https://standards.openbanking.org.uk/operational-guidelines/change-and-communication-management/notification-of-a-change/latest/">Notification of change</a></li>
</ul>
</li>
<li id="menu-item-1239" class="et_pb_menu_page_id-1003 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1239"><a href="https://standards.openbanking.org.uk/operational-guidelines/the-operational-guidelines-checklist/latest/">OG Checklist</a>
<ul class="sub-menu">
	<li id="menu-item-1240" class="et_pb_menu_page_id-1007 menu-item menu-item-type-post_type menu-item-object-page menu-item-1240"><a href="https://standards.openbanking.org.uk/operational-guidelines/the-operational-guidelines-checklist/checklist/latest/">Checklist</a></li>
</ul>
</li>
</ul></a>
					</div>
				</div>
			</div>


			</div>
